<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">On a ce qu'il vous faut ! </h2>
                <hr class="light">
                <p class="text-faded">Les Vagabondes rassemblent toutes les femmes qui ont envie de s'évader le temps d'un weekend, de se dépasser, de prendre un grand bol d'air frais et de se retrouver avec d'autres sportives :)
                Deux jours pour se détendre, s'amuser et aussi se dépenser ! Nous vous invitons à l'évasion le samedi matin, ce qui vous laisser deux jours pour revenir avec la tête pleine de jolies souvenirs ! </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>

