<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Envie de vous dépasser ?</h1>
            <hr>
            <!-- <p> Rejoignez nous le temps d'un weekend ! <p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>

